html {
	background-color: #acb7ae;
	body {
		background-color: rgba(0, 0, 0, 0.053);
		color: mix(#c2b490, #fff);
		font-size: 1.2em;
		width: 80%;
		margin: 0.5em auto;
		padding: 1em 2em;
		border-radius: 1em;

		:not(a) {
			text-shadow: black 0.075em 0.0625em 0.03125em;
		}

		article p span {
			display: block;
		}

		article p span.line:nth-of-type(2n) {
			text-indent: 1em;
		}
	}
}
